<%= form_for(@person) do |f| %>
<div class="column_left">
	<div class="form">
		<div class="caption"><%= f.label :username, "Benutzername" %><font class="point">*</font></div>
		<%= f.text_field :username, :class => "text_field" %>
		<div class="caption"><%= f.label :password, "Passwort" %><font class="point">*</font></div>
		<%= f.text_field :password, :class => "text_field" %>
		<div class="caption"><%= f.label :email, "Emailadresse" %><font class="point">*</font></div>
		<%= f.text_field :email, :class => "text_field" %>
		<div class="caption"><%= f.label :domain, "Gebiet" %><font class="point">*</font></div>
		<%= f.text_field :domain, :class => "text_field" %>
		<div class="caption"><%= f.label :picture, "Bild" %><font class="point">*</font></div>
		<%= f.file_field :picture, :class => "file_field" %>
		<div id="not_null"> 
			<span>Mit <font class="point">*</font> gekennzeichnete Felder sind Pflichtangaben</span>
		</div> 
	</div>
</div> 
<div class="column_right">
	<div class="form">
		<div class="caption"><%= f.label :lastName, "Nachname" %><font class="point">*</font></div>
		<%= f.text_field :lastName, :class => "text_field" %>
		<div class="caption"><%= f.label :firstName, "Vorname" %><font class="point">*</font></div>
		<%= f.text_field :firstName, :class => "text_field" %>
		<div class="caption"><%= f.label :signatur, "Signatur" %><font class="point">*</font></div>
		<%= f.text_area :signatur, :class => "text_area" %>
	</div> 
</div> 
<% if @person.errors.any? %>
<div id="error"> 
	<span>
		<% @person.errors.full_messages.each do |msg| %>
        	<%= msg %><br>
      	<% end %>
	</span>
</div> 
<% end %>
<% end %>
