<div id="page_title">
	<div id="page_title_content">
		<span class="title_black">Alben auflisten</span>
	</div>
	<div id="page_title_actions">
		<div id="page_title_actions_container">
			<div class="actions_170"> 
				<span><%= link_to 'Album hinzufügen', new_album_path, :class => "link_white" %></span>
			</div> 
			<% if @albums.total_pages > 1 %>
			<div class="actions_150"> 
				<%= will_paginate @albums %>
			</div> 
			<% end %>
		</div>
	</div> 
</div>
<div id="page_text">
	<div class="row">
	<% @albums.each do |album| %>
		<div class="cell_album">
			<%= link_to album_photos_url(album) do %>
			<div class="cell_album_image">
				<% if album.last_photo %>
				<%= image_tag(album.last_photo.image.url(:thumb)) %>
				<% end %>
			</div>
			<% end %>
			<% if album.number_of_photos > 0 %>
			<div class="cell_album_items">
				<span><%= album.number_of_photos %></span>
			</div>
			<% end %>
			<div class="cell_album_title">
				<span><%= album.title %></span>
			</div>
			<div class="cell_album_links">
				<%= link_to 'Ändern', edit_album_path(album) %>&nbsp;|&nbsp;<%= link_to 'Löschen', album, :confirm => 'Sind Sie sicher?', :method => :delete %>
			</div>
		</div>
	<% end %>
	</div> 
	<% if !notice %>
	<% if Album.count < 1 %>
	<div id="error"> 
		<span>Es wurden keine Alben gefunden</span>
	</div> 
	<% end %>
	<% end %>
</div>
