<h1>Listing albums</h1>

<p><%= link_to 'New Album', new_album_path %></p>

<p><%= will_paginate %></p>

<table>
  <% i = 0 %>
  <% @albums.each do |album| %>
    <% if i%4 == 0 %>
      <tr>
    <% end %>
  	<td width="150" height="210" cellpadding="10" bgcolor="#DDDDDD">
  		<table width="100%" height="100%">
  			<tr height="30">
  				<td align="center" >
  					<%= album.title %> (<%= album.number_of_photos %>)
  				</td>
  			</tr>
  			
  			<tr height="90">
  				<td align="center" >
  					<img src="/images/album.png" border="0">
  				</td>
  			</tr>
  			
  			<tr height="60" valign="top">
  				<td align="center" >
  					<%= album.description %><br>
  					<%= album.created_at_date %>
  				</td>
  			</tr>
  			
  			<tr height="30">
  				<td align="center">
  		  			<%= link_to 'Show', album_photos_url(album) %>&nbsp;
          			<%= link_to 'Edit', edit_album_path(album) %>&nbsp;
          			<%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %>
        		</td>
  			</tr>
  		</table>
  	</td>
    <% if i%4 == 3 %>
      </tr>
    <% end %>
    <% i = i+1 %>
  <% end %>
</table>
