<h1>Showing album #<%= @album.id %></h1>

<p>
  <%= link_to 'Back', albums_path %> |
  <%= link_to 'Edit', edit_album_path(@album) %>
</p>

<table cellpadding="10">
  <tr>
    <td bgcolor="#DDDDDD">
    
      <p>
        <b>Title:</b>
        <%= @album.title %>
      </p>

      <p>
        <b>Description:</b>
        <%= @album.description %>
      </p>

    </td>
  </tr>
</table>
