<p id="notice"><%= notice %></p>

<h1>Showing album #<%= @album.id %></h1>

<p><%= link_to 'Back', albums_path %></p>

<table cellpadding="10" width="600">
  <tr>
    <td bgcolor="#DDDDDD">
    
      <p>
        <b>Title:</b>
        <%= @album.title %>
      </p>

      <p>
        <b>Description:</b>
        <%= @album.description %>
      </p>

    </td>
  </tr>
</table>
