<%= form_for [@album, @photo], :html => { :multipart => true } do |f| %>
<% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table cellpadding="10">
    <tr>
      <td bgcolor="#DDDDDD">
    
        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </div>
  
        <div class="field">
          <%= f.label :image %><br />
	      <%= f.file_field :image %>
        </div>
        
        <br>
        
        <div class="actions">
          <%= f.submit %>
        </div>
  
      </td>
    </tr>
  </table>

<% end %>
