<div id="page_title">
	<div id="page_title_content">
		<span class="title_black">Foto #<%= @photo.id %> anzeigen</span>
	</div>
	<div id="page_title_actions">
		<div class="actions_add_album"> 
			<span><%= link_to 'Kommentar hinzufügen', new_photo_comment_path(@photo), :class => "link_white" %></span>
		</div> 
		<div class="actions_cancel"> 
			<span><%= link_to 'Zurück', album_photos_path(@album), :class => "link_white" %></span>
		</div> 
	</div> 
</div>
<div id="page_text">
	<%= render 'form_fake' %>
</div>

<!--
<% if @photo.comments.count > 0 %>
	<p>Comments</p>
<% end %>

<table cellpadding="10" width="600">
	<% @photo.comments.each do |c| %>
		<tr>
			<td bgcolor="#DDDDDD">
				<b>User:</b> <%=  %><br>
				<%= c.body %><br>

				<%= link_to 'Edit', edit_comment_path(c) %>&nbsp;
          		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>
//-->
