<p id="notice"><%= notice %></p>

<h1>Showing photo #<%= @photo.id %></h1>

<p>
	<%= link_to 'Back', album_photos_path(@album) %> |
	<%= link_to 'New Comment', new_photo_comment_path(@photo) %>
</p>

<table cellpadding="10" width="600">
  <tr>
    <td bgcolor="#DDDDDD">
    
      <p>
        <b>Title:</b>
        <%= @photo.title %>
      </p>

      <p>
        <b>Image:</b>
        <%= image_tag @photo.image.url %>
      </p>

    </td>
  </tr>
</table>

<br>

<% if @photo.comments.count > 0 %>
	<p>Comments</p>
<% end %>

<table cellpadding="10" width="600">
	<% @photo.comments.each do |c| %>
		<tr>
			<td bgcolor="#DDDDDD">
				<b>User:</b> <%=  %><br>
				<%= c.body %><br>
				
				<%= link_to 'Edit', edit_comment_path(c) %>&nbsp;
          		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>
