<p id="notice"><%= notice %></p>

<h1>Showing photo</h1>

<p>
  <%= link_to 'Back', photos_path %> |
  <%= link_to 'Edit', edit_photo_path(@photo) %>
</p>

<table cellpadding="10">
  <tr>
    <td bgcolor="#DDDDDD">
    
      <p>
        <b>Title:</b>
        <%= @photo.title %>
      </p>

      <p>
        <b>Image:</b>
        <%= image_tag @photo.image.url %>
      </p>

    </td>
  </tr>
</table>