<p id="notice"><%= notice %></p>

<h1>Showing photo #<%= @photo.id %></h1>

<p>
  <%= link_to 'Back', album_photos_path(@album) %> |
  <%= link_to 'Edit', edit_album_photo_path(@album, @photo) %>
</p>

<table cellpadding="10">
  <tr>
    <td bgcolor="#DDDDDD">
    
      <p>
        <b>Title:</b>
        <%= @photo.title %>
      </p>

      <p>
        <b>Image:</b>
        <%= image_tag @photo.image.url %>
      </p>

    </td>
  </tr>
</table>